
@{
    ViewBag.Title = "login";
}
<h2>login</h2>
<input type="text" name="uname" value="" class="form-control" placeholder="UserName" />
<br>
<input type="text" name="Passwd" value="" class="form-control" placeholder="Password" />
<br />
<input type="button" name="login" value="login" class="btn btn-lg btn-success" />

